# MeroShare Credentials
MEROSHARE_USERNAME=your_username
MEROSHARE_PASSWORD=your_password
MEROSHARE_DP_NP=your_depository_participant

# IPO Application Settings
MEROSHARE_BANK=your_bank_name
MEROSHARE_P_ACCOUNT_NO=your_account_number
MEROSHARE_KITTA_N0=10
MEROSHARE_CRN_NO=your_crn_number
MEROSHARE_TXN_PIN=your_4_digit_pin

# Telegram Bot (for notifications)
TELEGRAM_ENABLED=true or false
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=your_telegram_chat_id

# WhatsApp (CallMeBot)
WHATSAPP_ENABLED= TRUE OR FALSE
WHATSAPP_TO=RECEIVER_PHONE_NUMBER
WHATSAPP_CALLMEBOT_API_KEY=CALLMEBOT_API_KEY
WHATSAPP_CALLMEBOT_URL=CALLMEBOT_URL